<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>注册</title>
</head>
<style>
  dl{
    text-align:center;
    border:1px solid #008800;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:70px;
    margin-left:70px;
  }
</style>
<body>
<div id="regist_form">
  <dl>
    <form action="{:url('index/regist/regist')}" method="post">
      <dt>
        <h1>注册页面</h1>
        <p>姓名:<input type="text" name="name"></p>
      </dt>

      <dt>
        <p>密码:<input type="password" name="password"></p>
      </dt>

      <dt>
        <p><input type="submit" value="注册"></p>
      </dt>
    </form>
  </dl>
</div>
</body>
</html>